.header-input{
    padding-top: 20px;
    margin-bottom: 48px;
    .input-left{
      display: flex;
      width: 622px;
      height: 60px;
      background-color: #FFFFFF;
      border-radius: 30px;
      // justify-content: center;
      align-items: center;
      .icon{
        margin-left: 25px;
      }
      Text{
        font-size: 26px;
        color: #999999;
        margin-left: 10px;
      }
    }
    .input-right{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }
}